.blog {
  background-image: linear-gradient(
    to bottom,
    var(--color-neutral-200) 60%,
    var(--white) 60%
  );
  -webkit-padding-before: 0;
  padding-block-start: 0;

  &__section-title {
    -webkit-margin-after: var(--spacing-8);
    margin-block-end: var(--spacing-8);
  }

  &__card {
    padding: var(--spacing-6) var(--spacing-4);
    border-radius: var(--radius-12);
    border: 2px solid var(--color-neutral-200);
    background-image: url("../images/drnowak.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &::before,
    &::after {
      inset: 0;
      z-index: -1;
      transition: var(--transition-3);
    }

    &::before {
      background-color: var(--color-primary-500);
      opacity: 0.9;
    }

    &::after {
      background-color: var(--white);
    }

    &:is(:hover, :focus-within)::after {
      transform: translateY(100%);
    }

    &-date {
      color: var(--color-secondary-400);
      font-weight: var(--fw-700);
      text-transform: uppercase;
      opacity: 0.5;
      margin-block: var(--spacing-2);
    }

    &-btn-text {
      color: var(--color-primary-200);
      -webkit-margin-before: var(--spacing-2);
      margin-block-start: var(--spacing-2);
    }

    :is(.card-meta, .card-title, .date, .card-text, .btn-text) {
      transition: var(--transition-2);
    }

    &:is(:hover, :focus-within)
      :is(.card-meta, .card-title, .date, .card-text, .btn-text) {
      color: var(--white);
    }
  }
}

@media (min-width: 992px) {
  .blog .grid-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .blog .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
