.blog {
  @include section;
  background-image: linear-gradient(
    to bottom,
    var(--color-neutral-200) 60%,
    var(--white) 60%
  );
  padding-block-start: 0;

  &__section-title {
    @include headline-md;
    margin-block-end: var(--spacing-8);
    text-align: center;
  }

  &__card {
    padding: var(--spacing-6) var(--spacing-4);
    border-radius: var(--radius-12);
    border: 2px solid var(--color-neutral-200);
    background-image: url("../images/drnowak.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      inset: 0;
      z-index: -1;
      transition: var(--transition-3);
      position: absolute;

      &:is(&-text, &-btn-text, &-date) {
        transition: var(--transition-2);
      }
    }

    &::before {
      background-color: var(--color-primary-500);
      opacity: 0.9;
    }

    &::after {
      background-color: var(--white);
    }

    &:is(:hover, :focus-within)::after {
      transform: translateY(100%);
    }

    &-title {
      @include headline-sm;
    }

    &-date {
      color: var(--blue-600);
      font-weight: var(--fw-700);
      text-transform: uppercase;
      opacity: 0.5;
      margin-block: var(--spacing-2);
      @include title-sm;
    }

    &-btn-text {
      color: var(--blue-300);
      margin-block-start: var(--spacing-2);
      @include title-lg;
    }

    &:is(:hover, :focus-within) :is(&-title, &-date, &-text) {
      color: var(--white);
      transition: var(--transition-2);
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .blog .grid-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $breakpoint-xl) {
  .blog .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
