.footer {
  background-color: var(--blue);
  color: var(--white);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

.footer-top {
  display: grid;
  gap: 40px;
  padding-block-end: 60px;
}

.footer-brand {
  background-color: var(--mint);
  padding: 32px;
  border-radius: var(--radius-6);
}

.footer .logo {
  margin-block-end: 20px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-block-start: 12px;
}

.contact-item .item-icon {
  font-size: 4rem;
}

.contact-link {
  display: inline;
  transition: var(--transition-1);
}

.contact-link:is(:hover, :focus-visible) {
  color: var(--mint);
}

.footer-list-title {
  color: var(--white);
  font-weight: var(--fw-700);
  margin-block-end: 20px;
}

.footer .text {
  opacity: 0.7;
}

.footer .address {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-block-start: 20px;
}

.footer .address ion-icon {
  font-size: 4rem;
  flex-shrink: 0;
}

.footer-link {
  margin-block-start: 8px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--mint);
}

.footer-form .input-field {
  color: var(--white);
  border: 1px solid var(--white_a20);
  border-radius: var(--radius-4);
  padding: 8px 20px;
}

.footer-form .input-field::placeholder {
  color: inherit;
}

.footer-form .btn {
  width: 100%;
  justify-content: center;
  margin-block: 12px 28px;
}

.footer-bottom {
  padding-block: 32px;
  border-block-start: 1px solid var(--white_a20);
  display: flex;
  justify-content: center;
  align-items: center;
}
