.hero {
  @include section;
  --section-padding: 200px;

  background: url("/assets/images/hero-bg.png") var(--blue-500) no-repeat center
    center/cover;

  &-banner {
    display: none;
  }

  &__title {
    margin-block: var(--spacing-2) var(--spacing-3);
    @include headline-lg;
  }
}

@media (min-width: $breakpoint-md) {
  .hero {
    &__title {
      line-height: 1.125;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .hero {
    &-banner {
      display: block;
      max-width: max-content;
    }

    .container {
      grid-template-columns: 0.8fr 1fr;
      gap: 96px;
    }
  }
}
