.service-list {
  background-color: var(--white);
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
  display: grid;
  gap: var(--spacing-4);
  -webkit-margin-before: calc(var(--spacing--7) * -1);
  margin-block-start: calc(var(--spacing--7) * -1);
  padding-block: var(--spacing-8) var(--spacing-4);
  padding-inline: var(--spacing-3);

  &__card {
    text-align: center;

    &-icon,
    &-btn {
      margin-inline: auto;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
    }

    &-icon {
      -webkit-margin-after: var(--spacing-3);
      margin-block-end: var(--spacing-3);
    }

    &-text {
      margin-block: var(--spacing-3) var(--spacing-2);
    }

    &-btn {
      border-radius: var(--radius-circle);
      box-shadow: var(--shadow-2);
      color: var(--color-primary-200);
      font-size: 2rem;
      padding: var(--spacing-2);
      transition: var(--transition-1);

      &:is(:hover, :focus-visible) {
        background-color: var(--color-primary-200);
        color: var(--white);
      }
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
