.header {
  left: 0;
  padding-block: var(--spacing-2);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;

  &.active {
    -webkit-animation: headerActive 0.5s ease forwards;
    animation: headerActive 0.5s ease forwards;
    background-color: var(--color-primary-600);
    position: fixed;
  }

  @-webkit-keyframes headerActive {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes headerActive {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    & .container {
      gap: 40px;
    }
  }

  @media (min-width: 1200px) {
    padding-block: var(--spacing-3);
  }
}
