.navbar {
  right: -300px;
  max-width: 300px;
  background-color: var(--blue-500);
  z-index: 3;
  transition: 0.25s var(--cubic-in);
  visibility: hidden;

  &__open-btn {
    color: var(--white);
    font-size: 4rem;
  }

  &,
  &__overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  &.active {
    transform: translateX(-300px);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
  }

  &__top {
    position: relative;
    padding-inline: var(--spacing-3);
    padding-block: var(--spacing-7) var(--spacing--13);

    &-logo {
      margin: var(--spacing-1);
      background-color: var(--white);
    }
  }

  &__close-btn {
    position: absolute;
    top: var(--spacing-2);
    right: var(--spacing-3);
    color: var(--white);
    font-size: 2.8rem;
  }

  &__list {
    margin-block-end: var(--spacing-4);
    border-block-end: 1px solid var(--brown-500);
  }

  &__item {
    border-block-start: 1px solid var(--brown-500);
  }

  &__link {
    @include title-md;
    color: var(--white);
    text-transform: uppercase;
    padding: var(--spacing-1) var(--spacing-3);
  }

  &__social-list {
    display: flex;
    justify-content: center;
    gap: var(--spacing-3);
    color: var(--white);
    font-size: 1.5em;
  }

  &__overlay {
    right: -100%;
    background-color: var(--black);
    opacity: 0.3;
    visibility: hidden;
    transition: var(--transition-2);
    z-index: 2;
  }

  &__overlay.active {
    transform: translateX(-100%);
    visibility: visible;
  }

  @media (min-width: $breakpoint-md) {
    &__open-btn {
      margin-inline-start: auto;
    }
  }

  @media (min-width: $breakpoint-xl) {
    margin-inline-start: auto;

    &__open-btn,
    &__overlay,
    &__top,
    &__social-list {
      display: none;
    }

    &,
    &.active,
    &__list {
      all: unset;
      display: block;
    }

    &__list {
      display: flex;
      gap: var(--spacing-1);
    }

    &__item {
      border-block-start: none;
    }

    &__link {
      --title-md: 1.8rem;
      font-weight: var(--fw-500);
      padding-inline: var(--spacing-2);
      text-transform: capitalize;
    }
  }
}
