.prealoader {
  background-color: var(--color-primary-200);
  display: grid;
  height: 100vh;
  left: 0;
  place-items: center;
  position: fixed;
  top: 0;
  transition: var(--transition-1);
  width: 100%;
  z-index: 6;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }

  .circle {
    -webkit-animation: rotate360 1s ease infinite;
    animation: rotate360 1s ease infinite;
    border-block-start-color: transparent;
    border-radius: var(--radius-circle);
    border: 4px solid var(--white);
    height: 48px;
    width: 48px;
  }

  @-webkit-keyframes rotate360 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate360 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
